body {
  color: #002Db4;
  font-family: Arial, Helvetica, sans-sarif;
  font-size: 62.5%; 
}

#main h1 {
  color: #f60;
  font-family: "Arial Black", Arial, Helvetica, sans-sarif;
  font-size: 4em;
}

#main h2 {
  font: bold 3.5em "Hoefler Text", Garmond, Times, sarif;
  border-bottom: 1px solid #002d4b;
  margin-top; 25px;
}

#main h3 {
  color: #f60;
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 10px;
}

#main p {
  font-size: 1.5em;
  line-height: 150%;
  margin: 0px 50px 10px 150px;
}

#main p:first-line {
  font-weigt: bold;
  color: #999;
}
