body {
  color: #002Db4;
  font-family: Arial, Helvetica, sans-sarif;
  font-size: 62.5%; 
  background: #e1eefd url(images/bg_body.png);
}

#main {
  width: 740px;
  margin: 0 auto;
  padding: 0 10px;
  border: 4px solid white;
  background: transparent url(images/bg_banner.jpg) no-repeat;
}

#main h1 {
  color: #f60;
  font-family: "Arial Black", Arial, Helvetica, sans-sarif;
  font-size: 4em;
}

/* This is really neat! */
#main h1 strong {
  font-size: 150px;
  color: white;
  line-height: 1em;
  margin-right: -1.25em;
}

#main h2 {
  font: bold 3.5em "Hoefler Text", Garmond, Times, sarif;
  border-bottom: 1px solid #002d4b;
  margin-top; 25px;
}

#main h3 {
  color: #f60;
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 10px;
}

#main p {
  font-size: 1.5em;
  line-height: 150%;
  margin: 0px 50px 10px 150px;
}

#main p:first-line {
  font-weigt: bold;
  color: #999;
}

#main ul {
  margin: 50px 0 25px 50px;
  width: 150px;
  float: right;
}

#main li {
  color: #207ebf;
  font-size: 1.5em;
  margin-bottom: 7px;
}

#main .byline {
  color: #FFF !important; 
  font-size: 1.6em;
  margin: 5px 0 25px 50px;
}

#main .byline strong {
  color: #FFF;
  text-transform: uppercase;
  margin-left: 5px;
}
